﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
        .angular-google-map-container {
            width: 100%;
            height: 504px;
        }
    </style>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/services.js"></script>

    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

</head>
<body ng-app="app" animation="slide-left-right-ios7">
    <div>
        <div>
            <ion-nav-bar class="bar-stable bar-positive">
                <ion-nav-back-button class="button-icon icon ion-ios-arrow-back icon ion-social-twitter top-bar"></ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>

            <ion-tabs class="tabs-icon-top tabs-color-active-positive">
                <ion-tab icon="ion-ios-home" href="#/page1">

                </ion-tab>

                <ion-tab icon="ion-ios-compose" href="#/page5">

                </ion-tab>

                <ion-tab icon="ion-image" href="#/page6">

                </ion-tab>

                <ion-tab icon="ion-android-contact" href="#/page7">

                </ion-tab>


            </ion-tabs>
        </div>
    </div>


    <script id="page1.html" type="text/ng-template">
        <ion-view title="Twitter" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <div class="button-bar">
                    <a href="#/page1" class="button button-positive button-block  icon ion-social-twitter"></a>
                    <a href="#/page2" class="button button-positive button-block  icon ion-ios-bell"></a>
                    <a href="#/page3" class="button button-positive button-block  icon ion-ios-personadd"></a>
                    <a href="#/page4" class="button button-positive button-block  icon ion-search"></a>
                </div>
                <div class="list card" ng-repeat="post in posts">

                    <div class="item item-avatar">
                        <h2>{{post.user.username}}</h2>
                        <p>{{post.createdAt}}</p>
                    </div>

                    <div class="item item-body">
                        <p>
                            {{post.status}}
                        </p>
                        <p>
                            <a href="#" class="subdued">1 Like</a>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>
                            Like
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox"></i>
                            Comment
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-share"></i>
                            Share
                        </a>
                    </div>

                </div>

                <!--<div class="button-bar">
                    <a href="#/page5" class="button button-positive button-block  icon ion-ios-compose"></a>
                    <a href="#/page6" class="button button-positive  button-block  icon ion-image button-full"></a>
                    <a href="#/page7" class="button button-positive  button-block  icon ion-android-contact"></a>
                </div>-->

            </ion-content>
        </ion-view>
    </script>




    <script id="page2.html" type="text/ng-template">
        <ion-view title="Notifications" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <div class="spacer" style="height: 100px;"></div>
            </ion-content>

        </ion-view>
    </script>



    <script id="page3.html" type="text/ng-template">
        <ion-view title="Find people" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <form>
                    <label class="item item-input" name="123">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Search">
                    </label>
                </form>
                <div class="list">

                    <a class="item item-avatar" href="#">
                        <img src="venkman.jpg">
                        <h2>Venkman</h2>
                        
                    </a>
                </div>
            </ion-content>
        </ion-view>
    </script>



    <script id="page4.html" type="text/ng-template">
        <ion-view title="Search" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <form>
                    <label class="item item-input" name="search 1">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Seach Twitter">
                    </label>
                </form>
            </ion-content>
        </ion-view>
    </script>



    <script id="page5.html" type="text/ng-template">
        <ion-view title="Status" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <form>
                    <label class="item item-input">
                        <span class="input-label"></span>
                        <input type="text" ng-model="data.status" placeholder="What is happening?">
                    </label>
                </form>
                <button class="button button-positive button-stable button-block" ng-click="post()">Tweet</button>
            </ion-content>
        </ion-view>
    </script>



    <script id="page6.html" type="text/ng-template">
        <ion-view title="Picture" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <img src="http://2.bp.blogspot.com/-SSgdNk0Rkv8/VZivDaDDO0I/AAAAAAAADFM/IYu8UXx_Nyo/s1600/hinh-anh-dep-ve-mua-buon-co-don-ha-noi-sai-gon-lang-man%2B%25281%2529.jpg" style="width: 100%; height: auto;">
            </ion-content>
        </ion-view>
    </script>



    <script id="page7.html" type="text/ng-template">
        <ion-view title="Profile" hide-nav-bar="false">
            <ion-content padding="true" class="has-header">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 70px; height: 70px; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
            </ion-content>
        </ion-view>
    </script>

   
    <script id="page8.html" type="text/ng-template">
        <ion-view title="Sign up" hide-nav-bar="true">
            <ion-content padding="true" class="has-header">
                <form>
                    <label class="item item-input">
                        <span class="input-label"></span>
                        <input type="text" ng-model="data.username" placeholder="username">
                        
                    </label>

                    <label class="item item-input">
                        <span class="input-label"></span>
                        <input type="text" ng-model="data.password" placeholder="password">
                        
                    </label>
                </form>
                <a href="#/page9" button class="button button-positive button-stable button-block" ng-click="post()">Sign up</button>
            </ion-content>
        </ion-view>
    </script>

    <script id="page9.html" type="text/ng-template">
        <ion-view title="Sign in" hide-nav-bar="true">
            <ion-content padding="true" class="has-header">
                <form>
                    <label class="item item-input">
                        <span class="input-label"></span>
                        <input type="text" ng-model="data.username" placeholder="username">
                        
                    </label>

                    <label class="item item-input">
                        <span class="input-label"></span>
                        <input type="text" ng-model="data.password" placeholder="password">
                        
                    </label>
                </form>
                <a button class="button button-positive button-stable button-block" ng-click="post()">Sign in</button>
                <a href="#/page8" button class="button button-positive button-stable button-block" ng-click="post()">Sign up</button>
            </ion-content>
        </ion-view>
    </script>
    
</body>
</html>
